.ref-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;

  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: white;

    .icon-quote {
      font-size: 96px;
      color: #D42D1F;
    }

    .body-quote {
      font-size: 38.47px;
      font-weight: lighter;
      margin: 4px;
      text-align: center;
      max-width: 800px;
    }

    .author-quote {
      font-size: 20px;
      font-weight: lighter;
      margin: 4px;
    }
  }

  /* RESPONSIVIDADE PARA CELULAR */
  @media (max-width: 600px) {
    padding: 20px;

    .quote {
      padding: 20px;

      .icon-quote {
        font-size: 60px;
      }

      .body-quote {
        font-size: 22px;
        line-height: 28px;
        max-width: 90%;
      }

      .author-quote {
        font-size: 16px;
      }
    }
  }
}
